@{
    Page.Title = "pgnvaLink";
}


 <audio id="player" src="Nissan.mp3" autoplay loop>
            <source src="Kalimba.mp3" type="audio/mpeg" />
 </audio> 

 <br />

<section id="main">

   
 <h1> Nuestra Historia Nissan </h1>
    <p>
       Nissan solía ser el segundo fabricante de coches más importante de Japón, después de Toyota, pero pasó 
        a ocupar la tercera plaza detrás de Honda, debido a los grandes problemas financieros que sufrió a lo 
        largo de los años 1990 (hasta el punto de que, si se hubiera tratado de una empresa americana, su situación 
        financiera la hubiera obligado a desaparecer), la empresa francesa Renault se hizo con un importante paquete
        de acciones y nombró Presidente a Carlos Ghosn, convirtiéndose en la primera persona no japonesa que 
        controlaba una empresa japonesa de automóviles. (Mas tarde, Mazda fue controlada por un americano, 
        Mark Fields - y por el Británico Lewis Booth - y Mitsubishi fue controlada por un alemán, Rolf Eckrodt).
        Bajo la dirección de Ghosn se puso en marcha el "Nissan Revival Plan” (NRP),
        y con él, Nissan consiguió salir de la crisis. Muchos grandes economistas afirman que fue una de las 
        recuperaciones corporativas más espectaculares de la historia, catapultando a Nissan hacia los beneficios 
        con una drástica revitalización tanto de Nissan como de Infiniti (su marca de coches de lujo).
    </p>

<a href="http://www.nissan-global.com/EN/">
<img src="nissan2.jpg" width="165" height="64"  title="Link Nissan">
</a>


 </section>

<div id="sidebar">
    @*@Twitter.Search(
        "#putyourhashtaghere", 
        caption: "Search for us", 
        backgroundShellColor: "#e6e3d8", 
        tweetsBackgroundColor: "#fdfcf7", 
        shellColor: "#696969",
        tweetsColor: "#696969",
        tweetsLinksColor: "#a52f09")*@
</div>
